/********** Template CSS **********/
:root {
    --primary: #3CB815;
    --secondary: #F65005;
    --light: #F7F8FC;
    --dark: #111111;
    --primaryFont: #A6A6A6
}

body {
    color: var(--primaryFont);
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-icon {
    background: url(https://gourmouneh.github.io/Images/Main/bg-icon.png) center center repeat;
    background-size: contain;
}

.bg-grey {
    background: linear-gradient(80deg, #434343, #555555) !important;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 45px;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

.top-bar a i {
    color: var(--primary);
}

.mainColor {
    background: linear-gradient(80deg, #26633F, #7EB92E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 25px 15px;
    color: var(--primaryFont);
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    /* color: var(--dark); */
    color: var(--primary);
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        border-top: 1px solid rgba(0, 0, 0, .07);
        background: #FFFFFF;
    }

    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
    }
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }

    #header-carousel .carousel-item {
        min-height: 900px;
        background-size: cover !important;
    }
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary);
    border: 10px solid var(--primary);
    border-radius: 3rem;
}

@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 450px;
    }

    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #header-carousel .carousel-item.bkImageMain.bkImageMain1,
    #header-carousel .carousel-item.bkImageMain.bkImageMain2 {
        background-size: cover !important;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../img/carousel-1.jpg) top right no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Section Header ***/
.section-header {
    position: relative;
    padding-top: 25px;
}

.section-header::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
}

.section-header::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary);
}

.section-header.text-start::before,
.section-header.text-start::after {
    left: 0;
    transform: translateX(0);
}



/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -moz-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -ms-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -o-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-size: 20px 20px;
    transform: skew(20deg);
    z-index: 1;
}


/*** Product ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.product-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.product-item img {
    transition: .5s;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-item small a:hover {
    color: var(--primary) !important;
}

/*** Footer ***/
.footer {
    color: #999999;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #999999;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}



/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .test {
        /* background: blue !important */
    }

    #header-carousel .carousel-item {
        min-height: 450px !important;
    }

    .card {
        /* background: blue !important */
    }
}

/* // X-Small devices (portrait phones, less than 576px) */

@media (max-width: 575.98px) {
    .test {
        /* background: aqua !important */
    }

    .mainBanner.c-1 {
        display: none;
    }

    .card {
        /* background: aqua !important */
    }

    .active .card {
        left: calc(100% - 340px) !important;
        width: 340px !important;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .test {
        /* background: yellow !important */
    }

    .card {
        /* background: yellow !important */
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .test {
        /* background: green !important */
    }

    #header-carousel .carousel-item {
        min-height: 539px !important;
    }

    .card {
        /* background: green !important */
    }
}

/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .test {
        /* background: purple !important */
    }

    #header-carousel .carousel-item {
        min-height: 650px !important;
    }

    .card {
        /* background: purple !important */
    }
}

/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .test {
        /* background: red !important */
    }

    #header-carousel .carousel-item {
        min-height: 550px !important;
    }

    .card {
        /* background: red !important */
    }
}

.card {
    position: fixed;
    top: 0;
    right: 0;
    /* Changed from left to right to open from the right side */
    width: 100%;
    max-width: 500px;
    /* Ensures the card doesn't exceed 500px */
    background-color: #FFFFFF;
    height: 100vh;
    transition: 0.5s;
    z-index: 1030;
    transform: translateX(100%);
    /* Start off-screen */
}

.active .card {
    transform: translateX(0);
    /* Slide into view */
}

.card h1 {
    background: linear-gradient(80deg, #26633F, #7EB92E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline-block;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card .checkOut div {
    background-color: #398323;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: white
}

.card .checkOut div:nth-child(2) {
    background-color: #398323;
    color: #fff;
}

.btn-sm-square {
    position: relative;
}

.quantity {
    position: absolute;
    top: -10px;
    right: -10px;
    background: red;
    color: white;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
}

.active .list,
.active .listCard {
    display: block;
}

.listCard li {
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #000;
    row-gap: 10px;
    border: 1px solid #ddd;
    /* Add border */
    padding: 10px;
    /* Optional: Add padding for better spacing */
    margin-bottom: 10px;
    /* Optional: Add margin for spacing between list items */
}

.listCard li div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.listCard li img {
    width: 80%;
}

.listCard li button {
    background-color: #fff5;
    border: none;
}

.listCard .count {
    margin: 0 10px;
}

.description {
    color: #F65005;
    font-weight: bolder;
}

.card .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
}

.closeIcon {
    cursor: pointer;
    font-size: 24px;
    color: #398323;
}

/* cart page */
#cart {
    overflow-x: auto;
}

#cart table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}

#cart table img {
    width: 70px;
}

#cart table td:nth-child(1) {
    width: 100px;
    text-align: center;
}

#cart table td:nth-child(2) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(3) {
    width: 250px;
    text-align: center;
}

#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6) {
    width: 150px;
    text-align: center;
}

#cart table td:nth-child(5) input {
    width: 70px;
    padding: 13px 5px 10px 15px;
    outline: none;
}

#cart table thead {
    border: 1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}

#cart table thead td {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    padding: 18px 0;
}

#cart table tbody tr td {
    padding-top: 15px;
}

#cart table tbody td {
    padding-top: 15px;
    font-size: 13px;
}

.fa-times-circle {
    cursor: pointer;
}

#cart-add {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


#coupon {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    margin-bottom: 30px;
    flex-direction: column;
}

#coupon h3 {
    padding-bottom: 15px;
}

#coupon input {
    padding: 13px 20px 10px 20px;
    outline: none;
    width: 60%;
    margin-right: 10px;
    border: 1px solid #e2e9e1;
}

#coupon button {
    background-color: #088178;
    color: white;
    padding: 13px 20px 10px 20px;
}

#subtotal {
    /* width: 50%; */
    margin-bottom: 30px;
    border: 1px solid #e2e9e1;
    padding: 30px;
}

#subtotal table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

#subtotal table td {
    width: 50%;
    border: 1px solid #e2e9e1;
    padding: 13px 10px 10px 10px;
    font-size: 13px;
}

#subtotal h3 {
    padding-bottom: 15px;
}

#subtotal button {
    background-color: var(--primary);
    ;
    color: white;
    padding: 13px 20px 10px 20px;
    border: none;
}

.popup {
    display: none;
    /* Hide by default */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.popup.show {
    display: block;
    opacity: 1;
}

#header-carousel .bkImageMain {
    background-position: center;
    background-repeat: no-repeat;
    background-color: #5d5d5d;
}

#header-carousel .bkImageMain.bkImageMain1 {
    background-size: 40% !important;
}

#header-carousel .bkImageMain.bkImageMain2 {
    background-size: 50% !important;
}